.acad-logo td{
	vertical-align: middle;
	padding: 0px 5px;
}

.comp-club-logo td {
	vertical-align: middle;
}

body {
	background-color: #EFEFEF;
}

header {
	background-color: white;
	padding: 0.5em 0em;
}

footer {
	min-height: 5em;
	background-color: #0085A1;
	color: #6CCCE0;
	display: table;
	width: 100%;
}

footer .copyright {
	display: table-cell;
	text-align: right;
	vertical-align: middle;
	padding-right: 1em;
	font-size: 0.8em;
}

.post-wrapper {
	padding-bottom: 3em;
}
.post-title {
	color: #141414;
	font-weight: 600;
}
.post-time {
	color: #0085A1;
	font-weight: bold;
}

.post-content {
	border-left: 4px solid #0085A1;
	margin-top: 1.7em;
	padding: 0.2em 0.7em;
}

.navbar-default {
	font-weight: 500;
	background-color: #0085A1;
}


/* nav bar custom styling */
.navbar-default .navbar-nav > li > a {
    color: #F2F2F2;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #FFFFFF;
    font-weight: bold;
    background-color: transparent;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #FFFFFF;
    font-weight: bold;
    background-color: #006a80;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #FFFFFF;
    background-color: #006a80;
}

@media (min-width: 765px) {
	.navbar-default {
		font-size: 1.2em;
	}

	.post-wrapper {
		padding: 0em 1.8em 3em;
	}

	footer .copyright {
		padding-right: 5em;
	}
}